body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form-container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 300px;
    text-align: center;
    position: relative; /* Add position relative */
  }
  
  .logo-container {
    position: absolute; /* Change to absolute positioning */
    top: -25px; /* Adjust position from top */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust horizontal centering */
  }
  
  .logo {
    width: 50px; /* Adjust logo size */
    height: 50px; /* Adjust logo size */
    border: 2px solid #e60023;
    border-radius: 50%;
  }
  
  .form-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-container button {
    width: 100%;
    padding: 10px;
    background-color: #e60023;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form-container button:hover {
    background-color: #cc001a;
  }
  